<!DOCTYPE html>
<htmlxmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<style type="text/css">
body {
	background-image: url("https://wallpaperaccess.com/full/460951.jpg");
	background-size: cover;
}
</style>

<title>Create New Member</title>
</head>
<body>
	<div align="center">
		<h1 class="font-weight-bold text-monospace text-light">
			Create <span class="text-danger">New </span> Member:
		</h1>
		<br /> <br />
		<form action="#" th:action="@{/save}" th:object="${fitness}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td class="font-weight-bold text-light">Member Name:</td>
					<td><input class="form-control"
						placeholder="Please Input You're Name" type="text"
						th:field="*{nama_peserta}" /></td>
				</tr>
				<tr>
					<td class="font-weight-bold text-light">Department:</td>
					<td><select class="form-control" name="dept"
						th:field="*{dept}">
							<option value="">Please Choose Youre Department</option>
							<option value="HSSE">HSSE</option>
							<option value="HCD">HCD</option>
							<option value="CSS">CSS</option>
							<option value="FA">FA</option>
							<option value="BD">BD</option>
					</select>
				</tr>
				<tr>
					<td class="font-weight-bold text-light">Date Register:</td>
					<td><input class="form-control" type="date"
						th:field="*{tgl_pendaftaran}" /></td>
				</tr>
				<tr>
					<td class="font-weight-bold text-light">Price:</td>
					<td><select class="form-control" name="biaya"
						th:field="*{biaya}">
							<option value="">Please Choose Youre Price</option>
							<option value="200000">200000</option>
							<option value="300000">300000</option>
							<option value="450000">450000</option>
					</select>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" class="btn btn-danger btn-lg btn-block">Save</button>
						<br> <a href="/" class="text-decoration-none"><button type="button"
								class="btn btn-danger btn-lg btn-block">Back</button></a>
					</td>
				</tr>
			</table>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>